/* Flex Alignment 1 - header, 3 rows, footer (push footer to bottom) */
.header, .row1, .row2, .row3, .row4, .footer {
    display: flex;
    padding: 30px;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* needed to push footer to bottom of page */
}

.row4 {
    flex: 1;
}

.footer{
    flex-shrink: 0; /* prevent footer getting squished */
 }

/* Flex Alignment 2 - within containers */
.header, .row1, .row2, .row3, .row4, .footer {
    justify-content: center;
    align-items: center;
}

.header {
    justify-content: space-around;
}

.row2 {
    flex-direction: column;
}

.imgtxts {
    display: flex;
}

.row3 {
    flex-direction: column;
}

.sign-up-block {
    display: flex;
    justify-content: space-around;
}

/* Padding & Margin */


.row1, .row2, .row3, .row4 {
    margin-bottom: 20px;
}

.row1 {
    gap: 20px;
}

.imgtxts{
    gap: 50px;
}

.imgtxt1, .imgtxt2, .imgtxt3, .imgtxt4 {
    max-width: 100px;
}

.row3 {
    margin: 50px 0px 50px 0px;
}

.quote_speaker {
    display: flex;
    flex-direction: column;
    max-width: 600px;
}

.speaker{
    text-align: right;
}

button {
    padding: 8px 16px; 
    border-radius: 8px; 
}

.row4 button{
    padding: 0px 16px; 
}

h4{
    margin: 0; /* h4 has default margin, so let's cut it out */
}

.sign-up-block{
    width: 800px;
    border-radius: 8px; 
    padding: 16px;
}

/* CSS properties */
a{
    text-decoration: none;
} 


/* Color and Font */
.header, .row1, .footer {
    background-color: #1F2937;
}

.header_title {
    font-size: 24px;
    color: #F9FAF8;
}

.main-text{
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

a, .secondary-text, .footer {
    font-size: 18px;
    color: #E5E7EB;
}

button {
    color: white;
    font-weight: bold;
    background: #3882F6; 
    border: 1px solid #3882F6; 
}

.row4 button{
    border: 1px solid white;
}

.row2.text{
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
}

.row3{
    background-color: #E5E7EB;
}

.quote {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
}

.sign-up-block{
    background-color: #3882F6;
}